{{#each productos}}
<article data-id="{{this.id}}">
<div class="row">
    <div class="col-md-6">
        <div class="contenedorArticuloImagen">
            <img class="imagenArticulo" src="{{this.urlImagen}}" alt="">
        </div>
    </div>
    <div class="col-md-6">
        <div class="contenedorArticuloDescripcion">
            <span class="articuloDescripcion">{{this.nombre}}</span>
            <span class="articuloPrecio">{{this.precio}}</span>
        </div>  
    </div>
</div>            
</article>
{{/each}}  