<form id="formBusqueda" action="urlBuscarAction" class="form">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" placeholder="Buscar" class="form-control" id="buscador"></input>                
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="ordenarpor">Ordenar por..</label>
                        <select name="ordenarpor" id="ordenarpor" class="form-control">
                            <option value="">Seleccione...</option>
                            <option value="1">Menor precio</option>
                            <option value="2">Mayor Precio</option>                    
                        </select>                
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                         {{!-- <button type="button" class="btn btn-primary">Buscar</button> --}}
                    </div>
                </div>
            </div>
        </form>
        <div id="listaArticulos">
            
        </div>